/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* urbanist */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
/* Manrope */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* google fonts */

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

:root {
    --font-montserrat: "Montserrat", sans-serif;
    --white: #fff;
    --primary: #33A88E;
    --dark: #222;
    --grey: #6B7280;
    --skyBlue: #10fafa;
    --blue: #358bfc;
    --base-transition: all 0.3s ease;
}

body {
    font-family: var(--font-montserrat);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: var(--dark);
    background-color: var(--white);
}


body::-webkit-scrollbar {
    display: none;
}

/* common style starts */
.container {
    max-width: 1220px;
    margin: 0 auto;
    width: 100%;
}

.show {
    left: 0px;
}

body.no-scroll {
    overflow: hidden;
}

.common-heading {
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.common-sub-heading {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26.24px;
    text-transform: uppercase;
}

.common-heading-lg {
    color: var(--dark);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 6=53.36px;
    letter-spacing: -0.48px;
}

.common-para {
    color: var(--dark);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.52px;
}

.common-padding {
    padding: 96px 0px;
}

/* common style =End= */


.section-padding-x {
    padding-left: 16px;
    padding-right: 16px;
}

.m-top {
    margin-top: 30px;
}

.m-bottom {
    margin-bottom: 30px;
}

@media only screen and (min-width: 450px) {
    .section-padding-x {
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media only screen and (min-width: 769px) {
    .m-top {
        margin-top: 40px;
    }

    .m-bottom {
        margin-bottom: 40px;
    }
}

@media only screen and (min-width: 992px) {
    .section-padding-x {
        padding-left: 50px;
        padding-right: 50px;
    }

    .m-top {
        margin-top: 50px;
    }

    .m-bottom {
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 1300px) {
    .section-padding-x {
        padding-left: 150px;
        padding-right: 150px;
    }

    .m-top {
        margin-top: 100px;
    }

    .m-bottom {
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 1700px) {
    .section-padding-x {
        padding-left: 300px;
        padding-right: 300px;
    }

    .m-top {
        margin-top: 150px;
    }

    .m-bottom {
        margin-bottom: 150px;
    }
}